/* Styling for the date-range container */

.attendance-container {
    background-color: #f5f5f5;
}

.title {
    text-align: center;
    margin: 20px;
}

.date-range {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.BasicDatePicker {
    margin-right: 20px;
}

.bar-chart-container {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 55vw;
}

.average-time-spent {
    text-align: start;
    opacity: 0.6;
    font-style: normal;
}
